* {
  padding: 0;
  margin: 0;
}

.main1 {
  background-color: pink;
  width: 90%;
  height: 20%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  background-color: pink;
  width: 90%;
  height: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 29px;
}

.main2,
.main3,
.main4,
.main5 {
  background-color: green;
  width: 50%;
  height: 100%;
  float: right;
}

.main2 {
  background-color: burlywood;
}

.main3 {
  background-color: grey;
}
.main4 {
  background-color: purple;
}
.
